In [1]:
!wget https://nlp100.github.io/data/popular-names.txt

--2021-05-31 19:46:09--  https://nlp100.github.io/data/popular-names.txt
nlp100.github.io (nlp100.github.io) をDNSに問いあわせています... 185.199.111.153, 185.199.108.153, 185.199.109.153, ...
nlp100.github.io (nlp100.github.io)|185.199.111.153|:443 に接続しています... 接続しました。
HTTP による接続要求を送信しました、応答を待っています... 200 OK
長さ: 55026 (54K) [text/plain]
`popular-names.txt' に保存中

popular-names.txt   100%[===================>]  53.74K  --.-KB/s 時間 0.05s

2021-05-31 19:46:10 (1.10 MB/s) - `popular-names.txt' へ保存完了 [55026/55026]

In [7]:
import pandas as pd
df = pd.read_table('./popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])
print(len(df))

!wc -l ./popular-names.txt

2780
    2780 ./popular-names.txt

In [8]:
!sed -e 's/\t/ /g' ./popular-names.txt | head -n 5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
sed: stdout: Broken pipe

In [18]:
print(df)
col1 = df['name']
col1.to_csv('./col1.txt', index=False)
print(col1.head())
!cut -f 1 ./popular-names.txt > ./col1_chk.txt
!cat ./col1_chk.txt | head -n 5¥
col2 = df['sex']
col2.to_csv('./col2.txt', index=False)

!cut -f 2 ./popular-names.txt > ./col2_chk.txt
!cat ./col2_chk.txt | head -n 5

           name sex  number  year
0          Mary   F    7065  1880
1          Anna   F    2604  1880
2          Emma   F    2003  1880
3     Elizabeth   F    1939  1880
4        Minnie   F    1746  1880
...         ...  ..     ...   ...
2775   Benjamin   M   13381  2018
2776     Elijah   M   12886  2018
2777      Lucas   M   12585  2018
2778      Mason   M   12435  2018
2779      Logan   M   12352  2018

[2780 rows x 4 columns]
0         Mary
1         Anna
2         Emma
3    Elizabeth
4       Minnie
Name: name, dtype: object
head: illegal line count -- 5¥
F
F
F
F
F

In [20]:
col1 = pd.read_table('./col1.txt')
col2 = pd.read_table('./col2.txt')
merged_1_2 = pd.concat([col1, col2], axis=1)
merged_1_2.to_csv('./merged_1_2.txt', sep='\t', index=False)
print(merged_1_2.head())
!paste ./col1_chk.txt ./col2_chk.txt | head -n 5

        name sex
0       Mary   F
1       Anna   F
2       Emma   F
3  Elizabeth   F
4     Minnie   F
Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

In [22]:
def output_head(N):
    print(df.head(N))
output_head(5)
!head -n 5 ./popular-names.txt

        name sex  number  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880
Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [24]:
def output_tail(N):
    print(df.tail(N))
output_tail(5)
!tail -n 5 ./popular-names.txt

          name sex  number  year
2775  Benjamin   M   13381  2018
2776    Elijah   M   12886  2018
2777     Lucas   M   12585  2018
2778     Mason   M   12435  2018
2779     Logan   M   12352  2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [42]:
def split_file(N):
    tmp = df.reset_index(drop=False)
    df_cut = pd.qcut(tmp.index, N, labels=[i for i in range(N)])
    df_cut = pd.concat([df, pd.Series(df_cut, name='sp')], axis=1)
    return df_cut

df_cut = split_file(10)
print(df_cut)

           name sex  number  year sp
0          Mary   F    7065  1880  0
1          Anna   F    2604  1880  0
2          Emma   F    2003  1880  0
3     Elizabeth   F    1939  1880  0
4        Minnie   F    1746  1880  0
...         ...  ..     ...   ... ..
2775   Benjamin   M   13381  2018  9
2776     Elijah   M   12886  2018  9
2777      Lucas   M   12585  2018  9
2778      Mason   M   12435  2018  9
2779      Logan   M   12352  2018  9

[2780 rows x 5 columns]

In [44]:
print(len(df.drop_duplicates(subset='name')))
!cut -f 1 ./popular-names.txt | sort | uniq | wc -l

136
     136

In [46]:
df.sort_values(by='number', ascending=False, inplace=True)
print(df.head())
!cat ./popular-names.txt | sort -rnk 3 | head -n 5

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947
Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
sort: Broken pipe

In [48]:
print(df['name'].value_counts())
!cut -f 1 ./popular-names.txt | sort | uniq -c | sort -rn

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Kelly        1
Scott        1
Pamela       1
Carolyn      1
Lucas        1
Name: name, Length: 136, dtype: int64
 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret
  58 Thomas
  58 George
  57 David
  51 Richard
  45 Helen
  43 Frank
  43 Christopher
  41 Anna
  40 Edward
  39 Ruth
  38 Patricia
  37 Matthew
  36 Dorothy
  35 Emma
  32 Barbara
  31 Joshua
  31 Daniel
  26 Sarah
  26 Linda
  26 Jennifer
  26 Emily
  25 Jessica
  25 Jacob
  24 Susan
  24 Mildred
  24 Betty
  23 Henry
  23 Ashley
  22 Nancy
  21 Andrew
  20 Marie
  20 Florence
  20 Donald
  20 Amanda
  19 Samantha
  18 Olivia
  18 Melissa
  18 Madison
  18 Lisa
  18 Karen
  17 Stephanie
  17 Abigail
  16 Sandra
  16 Mark
  16 Ethel
  15 Michelle
  15 Isabella
  15 Heather
  15 Frances
  15 Ethan
  15 Carol
  15 Angela
  14 Shirley
  14 Kimberly
  14 Ava
  14 Amy
  13 Virginia
  13 Sophia
  13 Nicole
  13 Jason
  13 Hannah
  13 Deborah
  13 Brian
  12 Minnie
  12 Donna
  12 Bertha
  11 Cynthia
  10 Ronald
  10 Noah
  10 Nicholas
  10 Mia
  10 Doris
  10 Brittany
  10 Alice
   9 Tyler
   9 Joan
   9 Debra
   8 Taylor
   8 Mason
   8 Judith
   8 Ida
   8 Clara
   8 Alexis
   8 Alexander
   7 Tammy
   7 Steven
   7 Sharon
   7 Liam
   7 Harry
   7 Brandon
   6 Anthony
   5 Jeffrey
   5 Jayden
   5 Gary
   5 Charlotte
   5 Annie
   4 Lillian
   4 Kathleen
   4 Justin
   4 Chloe
   4 Benjamin
   4 Austin
   3 Megan
   3 Harper
   3 Evelyn
   3 Elijah
   3 Aiden
   2 Rebecca
   2 Oliver
   2 Logan
   2 Lauren
   2 Larry
   2 Bessie
   2 Amelia
   1 Walter
   1 Tracy
   1 Scott
   1 Rachel
   1 Pamela
   1 Lucas
   1 Lori
   1 Laura
   1 Kelly
   1 Julie
   1 Crystal
   1 Carolyn